<div class="tudo">
<div class="row">
        <div class="input-field col s4">
          <input type="text">
          <label >Título</label>
        </div>
      </div>

    <div>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Descrição</label>
            </div>
          </div>
        </form>
      </div>
    
    <div> 
            <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s2">
                          <i class="material-icons prefix">event</i>
                          <input type="date" class="validate">
                        </div>
                        <div class="input-field col s2">
                          <i class="material-icons prefix">event</i>
                          <input type="date" class="validate">
                        </div>
                        <div class="input-field col s2">
                          <a class="waves-effect waves-light btn">Gravar</a>
                        </div>
                      </div>
                    </form>
                  </div>
    </div>

    <div class="pos-tabela">
            <table class="responsive-table" class="highlight">
              <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th class="table-button">Apagar</th>
                </tr>
              </thead>
            
              <tbody>
                <tr>
                  <td>Alvinsa</td>
                  <td>Eclair</td>
                  <td></td>
                  <td></td>
                  <td>
                    <a class="btn-floating btn waves-effect waves-light red">
                      <i class="material-icons">delete</i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
</div>
