/* You can add global styles to this file, and also import other style files */
@import "../node_modules/materialize-css/dist/css/materialize.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css";
@import "../node_modules/materialize-css/dist/css/materialize.min.css";


.tudo{
    top: 100%;
    left:100%;
}
nav{
    background-color: #212cc9d0;
 }
 
.btn{
     background-color: #212cc9d0;
 }

 .btn:hover{
    background-color: #686cafd0;
}

.btn:focus{
    background-color: #656568d0;
}
.table-button{
    width: 20px;
}
.pos-tabela {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}
